* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8FBDDF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#game-conteiner {
    background-color: #FAE360;
    width: 70vw;
    max-width: 90vw;
    height: 60vh;
    max-height: 55vh;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}

#score-conteiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    background-color: #8FBDDF;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #F48E35;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#icon-conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}

.choice {
    margin: 0 1rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #8FBDDF;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3 ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.choice:hover {
    border: 2px solid #F48E35;
    box-shadow: 0 0 0 5px #F48E35;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.choice i {
    font-size: 2rem;
    display: block;
    display: block;
}

#action {
    margin-top: 15px;
}

#results-conteiner {
    width: 19rem;
    height: 4rem;
    background-color: #8FBDDF;
    margin-top: 1.5rem;
    border: 2px solid #F48E35;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-choise,
.computer-choise {
    text-align: left;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}

.play-again {
    margin-top: 1rem;
    background-color: #F0F1DF;
    color: #F48E35;
    border: 1px solid #F48E35;
    border-radius: 0.3rem;
    width: 4.5rem;
    height: 1.5rem;
}

.play-again:hover {
    border: 1px solid #F48E35;
    box-shadow: 0 0 0 3px #F48E35;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.play-again:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}