.container {
    width: $contentw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    top: 50px;
    position: relative;
    justify-content: flex-end;
}

.container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container div {
    background-color: #1A1A1AD4;
    top: 50%;
    right: 5%;
    left: 50vw;
    width: auto;
    max-width: 90%;
    padding: 3rem;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.container div h2 {
    font-size: 1.2rem;
    color: #fff;
    direction: rtl;
    margin-top: 0;
    margin-bottom: auto;
    display: inline-block;
}

.container div h4 {
    font-size: 0.8rem;
    color: #fff;
    direction: rtl;
    margin-top: 1.2rem;
    margin-bottom: auto;
    line-height: 1.5;
}

.container div form {
    color: #fff;
    margin-top: 2rem;
    line-height: 1.5;
    font-size: 0.5rem;
    direction: rtl;
    text-align: right;
}

.container div form button {
    background-color: #D31C75;
    color: #fff;
    width: 7rem;
    height: 2rem;
}

.container div input {
    display: inline-block;
    width: 100%;
}

.bottomButton {
    background-color: #D31C75;
    color: #fff;
    width: 7rem;
    height: 2rem;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-bottom: 5vh;
}

@media (max-width: 767px) {
    .container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .container img {
        width: 100%;
        height: auto;
    }

    .container div {
        left: 5%;
        right: 5%;
        width: auto;
        max-width: none;
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 80vw;
        margin: 0 auto;
        text-align: right;
    }

    .container img {
        width: 100%;
        height: auto;
    }

    .container div {
        left: 50vw;
        right: auto;
        width: auto;
        max-width: 90%;
        padding: 3rem;
    }
}